<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.satton"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:name="com.satton.App">
        <activity
            android:name=".activity.SampleMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PopupNotificationActivity"
            android:taskAffinity=""
            android:theme="@style/Theme.PopupTranslucent" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="co-mm_popup" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebViewDialog"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.DestoryActivity" />
        <activity android:name=".activity.BitmapMemoryActivity" />
        <activity android:name=".activity.MemoryActivity" />
        <activity android:name="com.satton.overlay.SystemOverlayLayerActivity" />
        <activity
            android:name=".activity.NoAnimeActivity"
            android:taskAffinity="" />

        <service android:name="com.satton.sample.screenlockenable.ScreenStateService" />
        <service android:name="com.satton.overlay.LayerService" />
    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" >
    </uses-permission>

    <uses-sdk android:minSdkVersion="8" />

</manifest>